

/* ###############################################      INDEX      ################################################### */


.intro-home {
    float: center;
    font-size: 2.5em;
    transition: .6s ease;
    text-decoration: none;
    padding: 10px 25px;
    background: rgba(173, 100, 11, 0.226);
    /* animation: 4s 1; */
    border: rgb(85, 223, 211) dashed 2px;
    border-radius: 40px;
    z-index: 2;
}

.banner-area {
    display: flex;
    flex-direction: column;
    background: url(../img/foto3.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100vh;
    color: indianred;
}

.banner-area:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.banner-area h2 {
    text-align: center;
    animation: 3s 1;
    font-size: 3em;
    margin-top: 10%;
    margin-bottom: 10%;
}

.banner-area a {
    border: 1px solid firebrick;
    margin-top: 2%;
    transition: .6s ease;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px 25px;
    color: whitesmoke;
    animation: 3s 1;
    background: indianred;
    border-radius: 20px;
}

.banner-area a:hover {
    color: rgb(20, 78, 74);
    transform: translateY(-20px);
}

