/* ##########################################      ROOMS - HEADER     ###################################### */
                                                      

.container {
    max-width: 1024px;
    margin: 0 auto;
    
  }
  
  .intro-text h1 a{
    font-size: 2.2em; 
    transition: .6s ease;
    text-decoration: none;
    padding: 10px 25px;
    color: indianred;
  }
  
  .intro-text a:hover {
    color: whitesmoke;
  }
  
  header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100px; 
    top: 0;   
    margin: 0 auto;    
    padding: 0 2%;
    border-bottom: 3px dashed indianred
  }
  
  .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-top: 32px;
    padding: 0 24px;
    animation: FromLeft 1s;
}

@media only screen and (max-width: 800px) {
    .info {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 425px) {
    .info {
        grid-template-columns: repeat(1, 1fr);
    }
}

input {
    max-width: 100%;
    height: 64px;
    margin-bottom: 0;
    border-radius: 20px;
    border: 2px solid indianred;
    text-align: center;
    font-weight: bold;
    
   
}

::-webkit-input-placeholder {
    text-align: center;
    font-weight: bolder;
    color: blue;   
}



/*#########################################        ROOMS - CARDS       ######################################## */


#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-top: 32px;
    padding: 0 24px;
    animation: FromLeft 1s;
}


@media only screen and (max-width: 800px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 425px) {
    #cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card__item {
    max-width: 100%;
    margin-bottom: 0;
    border: 2px solid indianred;
    /* border: 2px solid rgba(0, 0, 0, 0.363); */
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background: white;
}

.card__item:hover {
    transform: translateY(-15px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.card__item--image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card__description {
    padding: 10px 10px;
}

.card__description--type {
    width: max-content;
    margin-bottom: 12px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 8px 16px;
    font-weight: bold;
    color: indianred;
}

.card__description--name {
    margin-bottom: 12px;
    font-size: 16px;
    text-align: center;
}

.card__description--price {
    width: max-content;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 30px;
    padding: 8px 16px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    color: rgb(49, 82, 82);
}




