* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
}

body {
  height: 100%;
  font-size: 14px;
}

.intro-home {
  float: center;
  font-size: 2.5em; 
  transition: .6s ease;
  text-decoration: none;
  padding: 10px 25px;
  color: rgb(206, 169, 169) ;
  animation: 4s 1;
  border: green dashed 2px;
}


.banner-area {
  background: url(img/foto3.jpg);
  align-items: center;
  
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  color: indianred;
  position: relative;
  z-index: 1;
}

.banner-area:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;

}
.banner-area h2 {
  text-align: center;
  animation: 3s 1;
  font-size: 3em;
  padding-top: 10%;
  margin-bottom: 20vmin;
}

.banner-area a{
  border: 1px solid firebrick;  
  margin-top: 2%;
  transition: .6s ease;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px 25px;
  color: gainsboro;
  animation: 3s 1;
  background: indianred; 
  border-radius: 20px;
}

@keyframes text-animation {
  0% {
      transition: scale(0);
  }
  100% {
      transform:  scale(1);
  }
}
.intro-text h1 a{
  font-size: 2.2em; 
  transition: .6s ease;
  text-decoration: none;
  padding: 10px 25px;
  color: indianred;
  animation: 4s 1; 
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  position: absolute;
  z-index: 9;
  top: 0;
  justify-content: center;
  align-items: center;  
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100px;
  padding: 0 2%;
  border-bottom: 2px solid green;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 0 24px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  margin-top: 32px;
  padding: 0 24px;
  animation: FromLeft 1s;
}

@media only screen and (max-width: 800px) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 425px) {
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card__item {
  max-width: 100%;
  margin-bottom: 0;
  border: 2px solid rgba(250, 31, 31, 0.2);
  border-radius: 20px;
  
  overflow: hidden;
  cursor: pointer;
}

.card__item:hover {
  transform: translateY(-20px);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.card__item--image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card__description {
  padding: 10px 16px;
}

.card__description--type {
  width: max-content;
  margin-bottom: 12px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 8px 16px;
  font-weight: bold;
  color: firebrick;
}

.card__description--name {
  margin-bottom: 12px;
  font-size: 16px;
  text-align: center;
}

.card__description--price {
  width: max-content;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 30px;
  padding: 8px 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  color: midnightblue;
}


footer {
  margin-top: 1%;
  padding: 16px 12px;
  border-top: 1px solid rgba(32, 30, 30, 0.281);
  text-align: center;
  font-size: 0.8em;
  justify-content: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  
}

.icons-footer{
  margin-top: 16px;
  align-items: center;  
  cursor: pointer;
}

